.calendar-border
    border: 10px solid black
    max-width: 600px
    min-width: 400px
    margin: auto
    height: auto
    margin-top: 40px
    position: relative

.calendar-photo
    width: 100%

.photo-container
    height: 400px
    background: black
    overflow: hidden

.month-container
    width: 100%
    height: 380px
    background: black
    display: inline-block

.calendar-year
    color: white

.calendar-tab
    color: wheat
    display: inline-block
    width: 74px
    height: 40px
    border: solid 1px wheat