<div *ngIf="images[0].url" class="tools-container">
  <app-tools-bar class="tools"></app-tools-bar>
</div>

<div class="calendar-border">
  <div class="photos-container">
    <div *ngFor="let image of images let i = index" [ngStyle]="getStyleContainer(image)">
      <app-picture id="photo-module_{{image.settings.details.id}}" class="calendar-photo" *ngIf="image.url" [image]="image" [imgPosition]="i" [imgID]="image.settings.details.id" [currentMonth]="currentMonth"></app-picture>
    </div>
  </div>
  <div class="month-container">
    <h2 class="calendar-year">{{monthName}} {{year}}</h2>
    <ul>
      <li class="calendar-tab" *ngFor="let day of month">{{day}}</li>
    </ul>
  </div>
</div>