
mwlResizable
      box-sizing: border-box // required for the enableGhostResize option to work

.draggable
    cursor: move
    cursor: grab
    cursor: -moz-grab
    cursor: -webkit-grab

.calendar- images
      &:active, &:focus, &:hover
            outline: 5px dashed blue

.border
      position: fixed!important
      outline: 5px dashed blue
      pointer-events: none //IE 11+

.not-visible
      visibility: hidden